#pageBody {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 14em;
    width: 26em;
    margin-top: -7em;
    margin-left: -13em;
    font-family:Courier;
    color: #112233; 
    background-color: #ccddff
}

#greetingMsg {
    display: inline-block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#signInBox {
    display: inline-block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.signInForm .legend {
    height: 3em
}

.signInForm .field { padding: 0em; margin:0em; height: 3.5em}

.signInForm .field label { display:inline-block; width:10em; margin-left:0em; }

.signInForm .field input { display:inline-block; }

#submitBtn {
    position: relative; 
    top: 1em
}

.error {
     display: block;
     color: red
}